@import '../../abstracts/';

header {
  background-image: url('/images/banner/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  @include respond(max-tablet) {
    background-image: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: $color-black;

    @include respond(tablet) {
      width: 850px;
      justify-content: space-between;
      flex-direction: row;
      background-color: transparent;
    }

    @include respond(desktop) {
      width: 1250px;
    }

    .header__logo {
      flex-basis: 30%;
      @include flexAbsoluteCenter;

      @include respond(tablet) {
        flex-basis: 25%;
        justify-content: flex-start;
        padding-left: 50px;
      }
    }

    .header__navigation {
      flex-basis: 30%;
      @include flexAbsoluteCenter;
      @include respond(tablet) {
        flex-basis: 50%;
      }
    }

    .header__button {
      display: none;
      @include respond(tablet) {
        display: block;
        @include flexAbsoluteCenter;
        flex-basis: 25%;

        button {
          background-color: $color-light-blue;
        }
      }
    }
}

  // .header__container.container {
  //   padding: 0;
  //   @include respond(tablet) {

  //   }
  // }

  .hero {

    // height: 100%;
    // width: 100%;
    @include respond(max-tablet) {
      width: 100%;
      background-image: url('../../../../images/banner/banner.png');

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include respond(tablet) {
      width: 850px;


    }

    @include respond(desktop) {
      width: 1150px;

    }
  }

}