@import '../../abstracts/';

header {

  background-image: url('../../../../images/banner/banner.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;


  .header {
   
    display: flex;
    justify-content: space-between;


    @include respond(max-tablet) { 
      height: 15vh;
      width: 100%;
      justify-content: space-around;
       background-color: $color-black;
    }

    @include respond(tablet) {
      width: 850px;
      justify-content: space-between;
      flex-direction: row;
    }

    @include respond(desktop) {
      width: 1250px;
      justify-content: space-between;
      flex-direction: row;
    }

    &__logo {
      flex-basis: 50%;

      @include flexAbsoluteCenter;

      @include respond(tablet) {
        flex-basis: 30%;
        justify-content: flex-start;
        padding: 20px;
      }
    }

    &__navigation {
      flex-basis: 50%;
      display: flex;
  
      justify-content: center;
      align-items: center;
      padding: 3.5%;

      .navigation__nav {
        opacity:0;
        
        // left: -100%;
        // position: fixed;

        @include respond(tablet) {
          opacity: 1;
          @include flexAbsoluteCenter;
        }
      }

      @include respond(tablet) {
        @include flexAbsoluteCenter;
      }
    }

    &__button {
      display: none;

      @include respond(tablet) {
        display: block;
        @include flexAbsoluteCenter;
        flex-basis: 15%;

        button {
          width: 70%;
          height: 50px;
          background-color: $color-light-blue;
          color: $color-white;
          border: none;
          border-radius: 5px;
          padding: 15px;
        }
      }
    }

   
  }

  .hero {

    // height: 100%;
    // width: 100%;
    @include respond(max-tablet) { 
      width: 100%;
  background-image: url('../../../../images/banner/banner.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     }
    @include respond(tablet) {
      width: 850px;
     

    }

    @include respond(desktop) {
      width: 1150px;

    }
}


 @include respond(max-tablet) { 
     background-image: none;
    }



}