@import '../../abstracts/';

.hero {
 height: 1fr;
 display: grid;
 grid-template-columns: 20px 1fr 20px;
 grid-template-rows:  40% 60%;
 grid-template-areas: 
                    '. text .'
                    '. image .';

    &__text {
        grid-area: text;
        padding-top: 20px;
        @include flexAbsoluteCenter;
        flex-direction: column;
        color: $color-white;
       @include respond(tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        }
    }

    &__headline {
        padding: 20px 0 20px 0;
        font-size: 2em;
        line-height: 1.5em;
        font-weight:300 ; 
        @include respond(tablet) {
            padding: 20px 0 0 0;
            margin-top: 3rem;   
            margin-bottom: 0.5em;
        }
    }

    &__description {
        padding-bottom: 20px;
        margin-bottom: 4rem;
        @include respond(tablet) {
            text-align: start;
          }
    }

    &__button {
        align-self: flex-start;
        background-color: $color-turcoise;
        margin: 20px 0 40px;
    }
    
    &__image {
        grid-area: image;
        img {
            height: 60%;
            @include respond(tablet) {
                height: 80%;
            }
        }
    }

    @include respond(tablet) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr;
      }
}


