@import '../../abstracts/';

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__checkbox {
    display: none;
  }

  &__button {
    padding: 2em;
    height: 45px;
    width: 45px;
    position: relative;
    z-index: 2000;
    box-shadow: 0 1em 3em rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tablet) {
      display: none;
    }
  } 
  
  &__icon {
    position: absolute;
    @include absCenter;
    
    &,
    &::before,
    &::after {
      width: 30px;
      height: 2px;
      background-color: $color-white;
      display: inline-block;
    }

    &::before {
      top: -10px;
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::after {
      top: 10px;
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
  }

  &__nav {
    width: 0;
    height: 0;
    overflow-x: hidden;
    @include respond(tablet) {
      width: 100%;
      height: 100%;
      opacity: 1;
      @include flexAbsoluteCenter;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-left: 10px;

    @include respond(tablet) {
      margin-left: 0px;
      flex-direction: row;
    }
  }

  &__item {
    margin: 1rem;
    @include respond(tablet) {
      margin: 0
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    padding: 10px;

    @include respond(max-tablet) {
      &:link,
      &:visited {
        font-size: 2em;
        width: 0;
        height: 0;
        color: $color-white;
        text-transform: uppercase;
        background: linear-gradient(213deg, transparent 0%, transparent 35%, $color-turcoise 100%);
        transition: all 0.4s;
      }

      &:hover,
      &:active {
        color: $color-turcoise;
        font-weight: 700;
        background-color: $color-white;
      }
    }
  }

  &__checkbox:checked {
    z-index: 1000;
  }

  &__checkbox:checked~&__nav {
    @include flexAbsoluteCenter;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    opacity: 1;
    position: absolute;
    left: 0;
    background-color: $color-dark-blue;
    top: 0px;
  }

  &__checkbox:checked~&__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
  }

  &__checkbox:checked~&__item {
    padding: 10px 10px;
  }

}