@import '../../abstracts/';

.features {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include respond(tablet) {
        margin-bottom: 5rem;
    }

    &__headline {
        padding: 20px 0;
        font-size: 2em;
        line-height: 1.5em;
        text-align: center;
        text-transform: capitalize;
    }

    &__container {
        padding-top: 20px;
        @include flexAbsoluteCenter;
        flex-direction: column;

        @include respond(tablet) {
            padding: 0 80px;
            justify-content: space-around;
            flex-direction: row;
        }
    }

    &__element {
        padding: 30px;
        @include flexAbsoluteCenter;
        flex-direction: column;
        @include respond(max-tablet) {
            padding: 0;
            margin-bottom: 2rem;
        }
    }

    &__icon {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        @include flexAbsoluteCenter;
        
        &.blue {
            background: linear-gradient(to right, $color-dark-blue, $color-medium-blue, $color-light-blue)
        }

        &.orange {
            background: linear-gradient(to right, $color-dark-orange, $color-light-orange)
        }

        &.green {
            background: linear-gradient(to right, $color-medium-green, $color-light-green)
        }
    }

    &__description {
        margin-top: 20px;
        padding: 20px;
        font-size: 1.2em;
        text-align: center;
        @include respond(max-tablet) {
            margin-top: 0;
          }
    }
}