@import '../../abstracts/';

.footer {
    background-color: $color-black;
    @include flexAbsoluteCenter;
    color: $color-light-grey;
    padding: 2rem;
    &__span {
        color: $color-dark-blue;
    }
}

