@import '../../abstracts/';

.testimonials {
    width: 100%;
    height: 600px;
    background-image: url('../../../../images/banner/testmonial.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        background-color: $color-light-blue;
        opacity: 0.7;
        height: 100%;
        width: 100%;
        padding: 1rem;
        @include flexAbsoluteCenter;

        @include respond(tablet) {
            padding: 5rem
        }

        @include respond(desktop) {
            padding: 1rem
        }
    }

    &__text {
        @include flexAbsoluteCenter;
        flex-direction: column;
        color: $color-white;
        text-align: center;
        flex-basis: 60%;
    }

    &__headline {
       
       font-size: 1em;
        line-height: 1.5em;
        margin-bottom: 10px;
        @include respond(tablet){
        font-size: 2em;
        padding: 20px 0 20px;
        }
    }

    &__description {
        font-size: 1em;
        margin-bottom: 10px;
        @include respond(tablet){
            font-size: initial;
           
            }
    }

    &__grades {
        @include flexAbsoluteCenter;
        padding: 10px;
        margin-bottom: 10px;

        .fa.fa-star {
            color: $color-yellow;
            display: block;
        }
    }
}

.testimonials.container {
    padding: 0;
}