html, body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-bottom: 5rem;
  padding: 0 30px 0 30px;
}

button {
  max-width: 400px;
  color: rgb(246, 252, 254);
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 1em;
}

header {
  background-image: url("/images/banner/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 899px) {
  header {
    background-image: none;
  }
}
header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgb(44, 44, 44);
}

@media only screen and (min-width: 900px) {
  header .header__container {
    width: 850px;
    height: 15vh;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
  }
}
@media only screen and (min-width: 1200px) {
  header .header__container {
    width: 1250px;
  }
}
header .header__container .header__logo {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  header .header__container .header__logo {
    flex-basis: 25%;
    justify-content: flex-start;
    padding-left: 50px;
  }
}
header .header__container .header__navigation {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  header .header__container .header__navigation {
    flex-basis: 50%;
  }
}
header .header__container .header__button {
  display: none;
}

@media only screen and (min-width: 900px) {
  header .header__container .header__button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
  }
  header .header__container .header__button button {
    background-color: rgb(83, 172, 254);
  }
}
@media only screen and (max-width: 899px) {
  header .hero {
    width: 100%;
    background-image: url("../../../../images/banner/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 900px) {
  header .hero {
    width: 850px;
  }
}
@media only screen and (min-width: 1200px) {
  header .hero {
    width: 1150px;
  }
}
.hero {
  height: 1fr;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 40% 60%;
  grid-template-areas: ". text ." ". image .";
}

@media only screen and (min-width: 900px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " text image";
  }
}
.hero__text {
  grid-area: text;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(246, 252, 254);
}

@media only screen and (min-width: 900px) {
  .hero__text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.hero__headline {
  padding: 20px 0 20px 0;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 300;
}

@media only screen and (min-width: 900px) {
  .hero__headline {
    padding: 20px 0 0 0;
    margin-top: 3rem;
    margin-bottom: 0.5em;
  }
}
.hero__description {
  padding-bottom: 20px;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 900px) {
  .hero__description {
    text-align: start;
  }
}
.hero__button {
  align-self: flex-start;
  background-color: rgb(53, 235, 237);
  margin: 20px 0 40px;
}

.hero__image {
  grid-area: image;
}

.hero__image img {
  height: 105%;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  padding: 2em;
  height: 45px;
  width: 45px;
  position: relative;
  z-index: 2000;
  box-shadow: 0 1em 3em rgba(44, 44, 44, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  .navigation__button {
    display: none;
  }
}
.navigation__icon {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 30px;
  height: 2px;
  background-color: rgb(246, 252, 254);
  display: inline-block;
}

.navigation__icon::before {
  top: -10px;
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::after {
  top: 10px;
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__nav {
  width: 0;
  height: 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 900px) {
  .navigation__nav {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
}

@media only screen and (min-width: 900px) {
  .navigation__list {
    margin-left: 0px;
    flex-direction: row;
  }
}
.navigation__item {
  margin: 1rem;
}

@media only screen and (min-width: 900px) {
  .navigation__item {
    margin: 0;
  }
}
.navigation__link {
  text-decoration: none;
  color: rgb(246, 252, 254);
  padding: 10px;
}

@media only screen and (max-width: 899px) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 2em;
    width: 0;
    height: 0;
    color: rgb(246, 252, 254);
    text-transform: uppercase;
    background: linear-gradient(213deg, transparent 0%, transparent 35%, rgb(53, 235, 237) 100%);
    transition: all 0.4s;
  }
  .navigation__link:hover, .navigation__link:active {
    color: rgb(53, 235, 237);
    font-weight: 700;
    background-color: rgb(246, 252, 254);
  }
}
.navigation__checkbox:checked {
  z-index: 1000;
}

.navigation__checkbox:checked ~ .navigation__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: absolute;
  left: 0;
  background-color: rgb(11, 134, 246);
  top: 0px;
}

.navigation__checkbox:checked ~ .navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.navigation__checkbox:checked ~ .navigation__item {
  padding: 10px 10px;
}

.features {
  display: flex;
  flex-direction: column;
}

.features__headline {
  padding: 20px 0;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

.features__container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .features__container {
    padding: 0 80px;
    justify-content: space-around;
    flex-direction: row;
  }
}
.features__element {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 899px) {
  .features__element {
    padding: 0;
    margin-bottom: 2rem;
  }
}
.features__icon {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__icon.blue {
  background: linear-gradient(to right, rgb(11, 134, 246), rgb(107, 183, 253), rgb(83, 172, 254));
}

.features__icon.orange {
  background: linear-gradient(to right, rgb(254, 147, 93), rgb(253, 169, 92));
}

.features__icon.green {
  background: linear-gradient(to right, rgb(54, 239, 141), rgb(232, 252, 241));
}

.features__description {
  margin-top: 20px;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}

@media only screen and (max-width: 899px) {
  .features__description {
    margin-top: 0;
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .about {
    flex-direction: row;
  }
}
.about__text {
  flex-basis: 50%;
}

.about__headline {
  font-size: 2em;
  line-height: 1.5em;
  padding: 20px 0;
}

.about__description {
  padding: 20px 0;
  font-weight: 200;
}

.about__button {
  background-color: rgb(83, 172, 254);
}

.about__image {
  flex-basis: 50%;
}

.testimonials {
  width: 100%;
  height: 400px;
  background-image: url("../../../../images/banner/testmonial.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__container {
  background-color: rgb(83, 172, 254);
  opacity: 0.7;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .testimonials__container {
    padding: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .testimonials__container {
    padding: 1rem;
  }
}
.testimonials__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(246, 252, 254);
  text-align: center;
  flex-basis: 60%;
}

.testimonials__headline {
  padding: 20px 0 20px;
  font-size: 2em;
  line-height: 1.5em;
}

.testimonials__grades {
  display: flex;
  padding: 10px;
}

.testimonials__grades .fa.fa-star {
  color: yellow;
  display: block;
}

.swiper {
  height: 500px;
  width: 400px;
}

.swiper .swiper-slide {
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .swiper {
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
span.swiper-pagination-bullet {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  font-size: 50px;
  color: #000;
  opacity: 1;
  background: PINK;
}

.swiper-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-custom-pagination-item {
  font-size: calc((3vw + 20px) / 2);
  color: white;
  padding: 20px;
}

.null {
  display: none;
}

.my-custom-pagination-active {
  background-color: black;
  border: 1px solid white;
}

.advertisement__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advertisement__header__headline {
  padding: 20px 0 20px;
  font-size: 2em;
  line-height: 1.5em;
}

.advertisement__header__description {
  width: 80%;
  font-weight: 100;
  padding-bottom: 20px;
}

@media only screen and (min-width: 900px) {
  .advertisement__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
.advertisement__box {
  list-style-type: none;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 100px;
}

@media only screen and (min-width: 900px) {
  .advertisement__box {
    margin: 2rem;
  }
}
.advertisement__box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertisement__box__header.blue {
  background-color: rgb(233, 244, 254);
}

.advertisement__box__header.blue .advertisement__box-subitem.blue {
  color: rgb(11, 134, 246);
}

.advertisement__box__header.orange {
  background-color: rgb(255, 248, 245);
}

.advertisement__box__header.orange .advertisement__box-subitem.orange {
  color: rgb(254, 147, 93);
}

.advertisement__box__header.green {
  background-color: rgb(232, 252, 241);
}

.advertisement__box__header.green .advertisement__box-subitem.green {
  color: rgb(14, 116, 62);
}

.advertisement__box__list {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(66, 66, 64);
}

.advertisement__box-subitem {
  padding: 5px;
}

.advertisement__box__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.advertisement__box__button button {
  background-color: rgb(246, 252, 254);
  color: rgb(83, 172, 254);
  border: 1px solid rgb(83, 172, 254);
}

@media only screen and (min-width: 900px) {
  .advertisement__box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px rgb(170, 174, 174);
  }
}
.adverb {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: rgb(83, 172, 254);
  color: rgb(246, 252, 254);
  height: 50vh;
}

@media only screen and (min-width: 900px) {
  .adverb {
    padding: 50px;
    height: 30vh;
    justify-content: space-between;
    flex-direction: row;
  }
}
.adverb__headline {
  margin-bottom: 1rem;
  color: rgb(246, 252, 254);
  font-size: 1.3em;
  font-weight: 100;
}

.adverb__images {
  display: flex;
  align-self: start;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .adverb__images {
    flex-direction: row;
    align-self: center;
  }
}
.adverb.container {
  margin-bottom: 0;
}

.contacts {
  background-color: rgb(44, 44, 44);
  opacity: 0.8;
  color: rgb(246, 252, 254);
  height: 800px;
}

@media only screen and (min-width: 900px) {
  .contacts {
    height: 300px;
  }
}
.contacts__list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .contacts__list {
    flex-direction: row;
    padding: 50px;
  }
}
.contacts__element {
  padding: 20px;
}

@media only screen and (min-width: 900px) {
  .contacts__element {
    flex-basis: 20%;
  }
}
.contacts__headline {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.contacts__headline.logo {
  font-size: 1.4rem;
  font-weight: 900;
}

.contacts__description {
  margin-bottom: 15px;
  color: rgb(170, 174, 174);
  font-size: 0.8rem;
}

.contacts__fonts {
  display: flex;
}

.contacts__fonts .font {
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 174, 174);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.contacts__fonts .font a {
  color: rgb(246, 252, 254);
  text-decoration: none;
}

.contacts__sublist {
  color: rgb(170, 174, 174);
  font-size: 0.8rem;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
}

.footer__span {
  color: rgb(11, 134, 246);
}

/*# sourceMappingURL=main.css.map */
